{% extends "navbar/base.html" %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="row">
				<div class="input-field col s12">
					<input placeholder="BTYINX" id="invite_code" type="text" class="validate">
					<label for="invite_code">Invite Code</label>
				</div>
				<button id="submit" class="btn waves-effect waves-light" type="submit" name="action">Join
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='internal/groups/join/js/script.js') }}"></script>
{% endblock %}