{%  extends "navbar/base.html" %}

{% block title %}
flow
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='internal/landing/css/style.css') }}">
{% endblock %}

{% block body %}
<div class="container">
	<div class="col s12" id="floater"></div>
	<div class="col s12" id="call-to-action-button-div">
		<a href="{{ url_for('auth_signup') }}" id="call-to-action-button" class="waves-effect waves-light btn-large yellow darken-3">Give flow a try</a>
	</div>
</div>
{% endblock %}
