{% extends "navbar/base.html" %}

{% block title %}
flow - Dashboard
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='internal/dashboard/css/style.css') }}">
{% endblock %}

{% block body %}
<div class="container">
	<h1 class="center">Dashboard</h1>
	<div id="groups-div">
		<groups></groups>
	</div>

	<a href="/groups/create" class="waves-effect waves-light btn-large">Create Group</a>
</div>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='internal/dashboard/js/script.js') }}"></script>
{% endblock %}
